:root {
  --primaryBrandColor: red;
  --primaryFontColor: #191919;
  --primaryBackgroundColor: rgb(249, 249, 249);
  --secondaryBackgroundColor: rgb(255, 255, 255);
  --primaryTitleFontFamily: "Days One", sans-serif;
  --primaryTextFontFamily: "Cairo", sans-serif;
}

/* Global Rules */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primaryTextFontFamily);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

ul {
  list-style: none;
}

/* Global Classes */

.container {
  max-width: 1720px;
  /* background-color: red; */
  margin: auto;
  width: 70%;
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  /* width: 50%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.page-section {
  min-height: 100vh;
  background-repeat: no-repeat;
}

.title-font {
  font-family: var(--primaryTitleFontFamily);
}

.z-index-1 {
  z-index: 500;
}

.z-index-2 {
  z-index: 1000;
}

.z-index-3 {
  z-index: 1500;
}

/* The widely used Overlay */
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  cursor: pointer; /* Add a pointer on hover */
}

/* Header & Hamburger Menu */

#hamburger-menu {
  /* TODO change display */
  display: none;
  position: fixed;
}

/* Hero Section */
.page-section#hero {
  background-image: url(./assets/images/backgrounds/1.png);
  background-color: var(--primaryBackgroundColor);
  background-size: 66% auto;
  background-position: left top;
}

#hero #img-container {
  max-width: 1130px;
  height: auto;
  position: relative;
}

#hero #img-container::before {
  content: "";
  width: 100%;
  aspect-ratio: 1130 / 680;
  border: black 1px solid;
  box-sizing: border-box;
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 0;
}

#hero #img-container img {
  width: 100%;
  display: block;
  position: relative;
  z-index: 10;
}

/* Gallery Section */

.page-section#gallery {
  background-image: url(./assets/images/backgrounds/2.png);
  background-color: var(--secondaryBackgroundColor);
  background-size: 100% auto;
  background-position: right bottom;
}

/* Jobs Section */

.page-section#jobs {
  background-image: url(./assets/images/backgrounds/3.png);
  background-color: var(--secondaryBackgroundColor);
  background-size: 100% auto;
  background-position: left top;
}

#jobs .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#jobs .container ol {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

/* Contact Section & Footer*/

.page-section#contact {
  background-image: url(./assets/images/backgrounds/4.png);
  background-color: var(--primaryBackgroundColor);
  background-color: var(--primaryBackgroundColor);
  background-size: 79% auto;
  background-position: right bottom;
}

#contact .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  text-align: center;
}

#contact .container #contacts-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  line-height: 32.85px;
}

/* Media Query */
@media (max-width: 1400px) {
}

@media (max-width: 1200px) {
}

@media (max-width: 900px) {
}

@media (max-width: 500px) {
}

@media (max-width: 450px) {
}
