/* ---------------------------------------------
Table of contents
------------------------------------------------
01. reset css
02. global styles
03. launcher
---------------------------------------------
Each section has its default styles and
responsiveness ones.
Max-Width Checkpoint 1 => 1536px 
Max-Width Checkpoint 2 => 1200px
Max-Width Checkpoint 3 => 1025px
Max-Width Checkpoint 4 => 900px
Max-Width Checkpoint 5 => 500px
--------------------------------------------- */

/* 
---------------------------------------------
01. Reset css
--------------------------------------------- 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

/* 
---------------------------------------------
02. Global Styles
--------------------------------------------- 
*/
.container {
  width: 90%;
  margin: auto;
  min-height: 100vh;
}

.page-section {
  min-height: 100vh;
  background-repeat: no-repeat;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* 
---------------------------------------------
03. Launcher
--------------------------------------------- 
*/

.page-section#launcher {
  background-image: url(./assets/background.png);
  background-color: var(--secondaryBackgroundColor);
  background-size: 100% auto;
  background-position: right bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#launcher .row {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px 0;
  gap: 18px;
}

#launcher .row .col {
  width: 31.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

#launcher .row .col .img-container {
  width: 80%;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

#launcher .row .col:nth-of-type(3n-2) .img-container {
  margin-right: auto;
}
#launcher .row .col:nth-of-type(3n-1) .img-container {
  margin-left: auto;
  margin-right: auto;
}

#launcher .row .col:nth-of-type(3n) .img-container {
  margin-left: auto;
}

#launcher .row .col .img-container .launcher-img {
  -webkit-box-flex: 2;
  -ms-flex-positive: 2;
  flex-grow: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: transparent 1px solid;
}

#launcher .row .col .img-container.m-auto {
  margin: auto;
}

@media (max-width: 1200px) {
  #launcher article button {
    top: 30px;
    right: 30px;
  }
}

@media (max-width: 1025px) {
  #launcher .row {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  #launcher .row .col {
    width: 46%;
    padding: 15px 0 0 0;
  }

  #launcher .row .col .img-container {
    width: 100%;
    aspect-ratio: 1;
  }

  #launcher .row .col .img-container.m-auto {
    margin: unset;
  }

  #launcher .row .col:nth-of-type(odd) .img-container {
    margin-right: auto;
    margin-left: 0;
  }

  #launcher .row .col:nth-of-type(even) .img-container {
    margin-left: auto;
    margin-right: 0;
  }

  #launcher .row .col .img-container .launcher-img-number {
    font-size: 20px;
    line-height: 37px;
  }
}

@media (max-width: 500px) {
  .page-section#launcher {
    background-size: 1365px 678px;
    background-position: -864px 100%;
  }
}
